[submodule "wayland"]
	path = wayland
	url = https://github.com/GlassOnTin/wayland.git
[submodule "wlroots"]
	path = wlroots
	url = https://github.com/GlassOnTin/wlroots.git
[submodule "labwc"]
	path = labwc
	url = https://github.com/GlassOnTin/labwc.git
[submodule "cairo"]
	path = cairo
	url = https://github.com/GlassOnTin/cairo.git
[submodule "pango"]
	path = pango
	url = https://github.com/GNOME/pango.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "fontconfig"]
	path = fontconfig
	url = https://github.com/GlassOnTin/fontconfig.git
[submodule "glib"]
	path = glib
	url = https://github.com/GNOME/glib.git
[submodule "fribidi"]
	path = fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "pixman"]
	path = pixman
	url = https://github.com/GlassOnTin/pixman.git
[submodule "libdrm"]
	path = libdrm
	url = https://github.com/GlassOnTin/drm.git
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "libxml2"]
	path = libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "libffi"]
	path = libffi
	url = https://github.com/libffi/libffi.git
[submodule "pcre2"]
	path = pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "libxkbcommon"]
	path = libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "wayland-protocols"]
	path = wayland-protocols
	url = https://github.com/GlassOnTin/wayland-protocols.git
[submodule "libevdev"]
	path = libevdev
	url = https://github.com/GlassOnTin/libevdev.git
[submodule "libinput"]
	path = libinput
	url = https://github.com/GlassOnTin/libinput.git
[submodule "libepoxy"]
	path = libepoxy
	url = https://github.com/anholt/libepoxy.git
[submodule "virglrenderer"]
	path = virglrenderer
	url = https://github.com/GlassOnTin/virglrenderer.git
[submodule "xcb-proto"]
	path = xcb-proto
	url = https://github.com/GlassOnTin/xcbproto.git
[submodule "libxcb"]
	path = libxcb
	url = https://github.com/GlassOnTin/libxcb.git
[submodule "libxau"]
	path = libxau
	url = https://github.com/GlassOnTin/libXau.git
[submodule "libxdmcp"]
	path = libxdmcp
	url = https://github.com/GlassOnTin/libXdmcp.git
[submodule "xcb-util-wm"]
	path = xcb-util-wm
	url = https://github.com/GlassOnTin/libxcb-wm.git
[submodule "xorgproto"]
	path = xorgproto
	url = https://github.com/GlassOnTin/xorgproto.git
